---

- hosts: os
  gather_facts: false
  pre_tasks:
    - setup:
  become: false
  roles:
    - {role: General/roles/img_install, tags: ['img_install']}

- hosts: os
  gather_facts: false
  pre_tasks:
    - setup:

    - name: Check all the system services are up
      command: bash -c "systemctl is-system-running"
      register: system_status
      until : "'running' in system_status.stdout"
      retries: 120
      delay: 1
      tags: ['smoketest','sanity']

  become: true
  roles:
    - {role: General/roles/smoketest, tags: ['smoketest']}

- hosts: 1host
  gather_facts: false
  pre_tasks:
    - setup:
  become: true
  roles:
    - {role: L2/roles/vlanConfig, tags: ['vlanConfig']}

- hosts: 1host
  gather_facts: false
  pre_tasks:
    - setup:
  become: true
  roles:
    - {role: L2/roles/lagConfig, tags: ['lagConfig']}

- hosts: 2host
  gather_facts: false
  become: true
  pre_tasks:
     - setup:
  roles:
    - {role: L2/roles/l2mac, tags: ['l2mac']}

- hosts: 2host
  gather_facts: false
  become: true
  pre_tasks:
     - setup:
  roles:
    - {role: L2/roles/l3_intra_inter, tags: ['l3_intra_inter']}

- hosts: 2host
  gather_facts: false
  become: true
  pre_tasks:
     - setup:
  roles:
    - {role: L2/roles/l2_stp, tags: ['l2_stp']}


- hosts: 2host
  gather_facts: false
  become: true
  pre_tasks:
     - setup:
  roles:
    - {role: Forwarding/roles/span_mirroring, tags: ['span_mirroring']}

- hosts: 2host
  gather_facts: false
  become: true
  pre_tasks:
     - setup:
  roles:
    - {role: L3/roles/l3-basic-functionality, tags: ['l3-basic-functionality']}

- hosts: 2host
  gather_facts: false
  pre_tasks:
    - setup:
  become: true
  roles:
    - {role: L3/roles/data_vrf_basic, tags: ['data_vrf_basic']}

- hosts: 2host
  gather_facts: false
  become: true
  roles:
    - {role: L2/roles/lldp, tags: ['lldp']}

