---

- block:
  - name: Bring up the ports on DUT and TR
    command: bash -c "ifconfig {{vrf_port1}} up; ifconfig {{vrf_port2}} up"
    changed_when: false
    when: (inventory_hostname == "DUT")
  - name: GET - The port status
    command: bash -c "ifconfig {{vrf_port1}}; ifconfig {{vrf_port1}}"
    changed_when: false
    register: port_details
    when: (inventory_hostname == "DUT")
  - name: stdout the command output
    debug:
      msg: "{{port_details.stdout}}"
  - name: VERIFY - IF port is admin UP
    assert: 
      that: "'UP' in port_details.stdout"
      msg: Port is not admin UP
  - name: VERIFY - IF port is oper up
    assert:
      that: "'RUNNING' in port_details.stdout"
      msg: Port is not oper up

