<style>
#navigation  ul li a { 
  color: #fff;
  font-size: 1.1em;
 
  font-weight: bold; 

  text-shadow: 1px 1px 1px #000;
}

#logo { float: left; 
height:50px;
width:50px;
margin-top:0px;
margin-right: 0px;
}

#navigation ul li a:hover { background-color: #205081; }
</style>

<nav class="navbar navbar-default" id="navigation" style="background-color:#3287c1;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
    <a href="/"> <img class="navbar-left" id="logo" src="/static/OPX.jpg" class="logo" alt="OPX"/></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/scripts">ScriptsList</a></li>
	    
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>
